[2015-07-15 16:16] mattcorey opened #1 "Cucumber Parsing errors not obvious"
We had a cucumber file that had a Scenario with an 'Examples' block, but instead of being a 'Scenario Outline', it was just a 'Scenario'.  The Gherkin parser was failing on this, however the Gradle plugin didn't make it easy to find the problem -- instead, the error simply said '.../features.closures.name-of-my-feature.feature.json does not exist'.

This message is true -- that file did not, in fa

[2015-07-15 17:55] bmanley91 opened #2 "Junit style reporting not supported"
The [Bamboo test parser](https://confluence.atlassian.com/display/BAMBOO/JUnit+Parser) that we use expects a Junit style xml report. This report was generated by the [cucumber gradle plugin](https://github.com/samueltbrown/gradle-cucumber-plugin) we were using previously. Without this output finding test failures in our pipeline is much more tedious.

[2015-07-17 16:37] bmanley91 commented on #2
This has been resolved. See [pull request](https://github.com/commercehub-oss/gradle-cucumber-jvm-plugin/pull/3).

[2015-07-17 16:37] #2 closed

[2015-08-07 15:46] bmanley91 opened #4 "Failed Background Steps Don't Fail Test"
If a background step fails, the scenario is skipped and considered successful. This causes builds with failed tests to be marked successful.

Failed background steps do correctly show up in junit and html reports.

[2015-11-18 03:25] #4 closed

[2015-11-18 14:29] #1 closed

[2015-12-15 17:53] JayStGelais opened #6 "CucumberRunner does not pass system properties to forked JVM correctly"
Instead, they are passed to the forked JVM as environment variables.

[2015-12-15 19:01] #6 closed

[2016-03-24 23:41] mattcorey opened #7 "Output is very difficult to find"
Console output is very difficult to find.  It should be available in the console window, if at all possible.

[2016-03-25 12:43] zarry commented on #7
Hey This Guy! @mattcorey

Not sure we have the bandwidth to tackle this at the moment but we are accepting pull requests!  @JayStGelais might have more thoughts.

[2016-03-25 12:51] JayStGelais commented on #7
@mattcorey Are you referring to the stdout/stderr ourput of the cucumber cli? Because we run tests in parallel it would be very tough to read if many tests were weaving their output together at the same time.

If you wanted to add logic that set the output to the console if the runner was not running multiple forks, I would accept that pull request.

[2016-03-25 13:32] mattcorey commented on #7
I am referring to that output - I agree that the console is not the right place for multithreaded.  How difficult would it be to add a link to the report page, along with every Scenario?  That way you're at least looking in one place.

[2016-03-25 13:37] JayStGelais commented on #7
It's possible. We are already adding the screen shots, so there is examples of how to add files to the report.

I'd accept that pull request as well.

[2016-03-25 16:11] mattcorey opened #8 "Output log files are being locked"
I'm seeing occasional file locking occuring with the files in test-results/cucumber/cucumberTest/features.<feature-name>.feature-err.log, and feature-out.log.

It doesn't seem to impact the running of the cucumberTest task, but it does cause problems when running tasks like 'gradle clean'.  Re-running the cucumberTest task tends to release the locks.

I've not yet determined a pattern, whether thi

[2016-03-29 15:07] JayStGelais commented on #8
Is this on Windows?

[2016-03-29 15:27] mattcorey commented on #8
Sadly, yes

Sent from my iPhone

[2016-03-29 22:59] mattcorey commented on #7
I took a look at this the other day, and using the 'embeddings' capability that the screenshots use won't work, at least not without some adjusting.  'embeddings' fields can be added at the 'step' or at the 'scenario' level, but the existing output files are created at the Feature level.

Adding these at the Scenario level would be the cleanest solution, I believe -- I'll poke around to see if the

[2016-03-30 14:20] JayStGelais commented on #7
I don't see a good answer for this. The embedding will embed the entire .out and .err files for the feature, creating copies for each scenario that grow as the feature finishes.

Would something as simple as task output that told the user where the cucumber cli output was written to suffice?

[2016-03-30 15:07] mattcorey commented on #7
It would be a decent first step, but a link is what I'm really looking for.  If we have to deal with the output at the feature level, I'd be happier updating the template to provide a link to the stdout and stderr files, which would be a change to the reporting project, not the grade build.  I plan to investigate this weekend.

M

Sent from my iPhone

[2016-05-17 21:57] jontxo opened #9 "Example Project"
Hello

I have created a gradle project
[selenium_java_cucumber.zip](https://github.com/commercehub-oss/gradle-cucumber-jvm-plugin/files/269238/selenium_java_cucumber.zip)

but I am unable to get it to work with the plugin. In all the executions the task of the plugin is executed correctly but no features are found and there are no messages in the console.

Could you please provide me a project wit

[2016-05-18 17:16] JayStGelais commented on #9
I'm reluctant to open a zip file from a stranger on the internet. Could you provide a suitable example project on a public github repo?

[2016-05-18 18:28] jontxo commented on #9
Sure

https://github.com/jontxo/cucumber-selenium-and-gradle.git

I have just uploaded it to github. Please let me know if you have any problem accesing.

Regards

[2016-05-18 20:22] JayStGelais commented on #9
@jontxo Just sent you a pull request with a working example.

[2016-05-19 15:10] JayStGelais commented on #9
Saw that the pull request was accepted. Closing this issue.

[2016-05-19 15:10] #9 closed

[2016-05-19 19:44] jontxo commented on #9
Hello

Thank you for your help. I think that the problem was in the way I was creating the packages and the folders where the features file and the steps file are saved.

Regards

[2016-06-21 17:32] svalchinov opened #10 "Unable to find features and step definitions"
I am trying to get the example configuration from the README file working but it seems I have the wrong source and module structure.

I have the following:

src -> cucumberTest -> java (glue dir)
src -> cucumberTest -> resources (feature dir)
src -> main -> java (empty)
src -> test -> java (empty)

When I run `gradle cucumberTest` I get empty results where no features or step definitions are recog

[2016-06-21 17:45] JayStGelais commented on #10
If you're using the example configuration from the README, your features will need to specifically be under:

src-> cucumberTest->resources->features

and you glue under one of the following folders:

src-> cucumberTest->java->cucumber->steps
src-> cucumberTest->java->cucumber->hooks

By default re root features and glue in specific packages to avoid scanning the entire classpath.

[2016-06-22 07:34] svalchinov commented on #10
Thanks, that worked perfectly! I apologise for the silly question. It should have been clear from the task configuration docs.

[2016-06-22 17:57] JayStGelais commented on #10
No problem. Glad you have it working.

I'll close the issue.

[2016-06-22 17:57] #10 closed

[2016-07-15 11:06] mat013 opened #11 "Index out of range when no feature files can be found"
When trying work out how to configure this plugin I have been successfull in making the plugin throw an Index out of range exception:

fileName C:\source\orca-trade-simulation\orca-trade-simulation-service\build\test-results\cucumber\cucumberTest\features.jsonrpc.feature.json
absolutPath features/jsonrpc.feature
featureRoot src/cucumberTest/resources/
absolutePath.lastIndexOf(featureRoot) -1
featu

[2016-07-15 11:11] mat013 commented on #7
I had the same issue...

Especially when we are going to run at a CI server and it fails and we are not able to get the files easily, However I would like to see the entire log when it fails, so what I did was the following in the CucumberRunner.run: in the section after the checking the resultFile:

                if (resultsFile.exists()) {
                    List<CucumberFeatureResult> result

[2016-07-15 12:50] JayStGelais commented on #11
@mat013 Could you post the stacktrace you got from running with the --stacktrace flag?

[2016-07-15 13:44] mat013 commented on #11
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':cucumberTest'.

* Try:
Run with --info or --debug option to get more log output.

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':cucumberTest'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:

[2016-07-15 13:44] JayStGelais commented on #7
@mat013 This looks like a reasonable change. If you want to submit a pull request, we would accept this.

[2016-07-15 14:32] #11 closed

[2016-07-15 14:33] JayStGelais commented on #11
@mat013 Thanks, I see now where this is happening. I just pushed your fix, closing this issue. If you want to send a pull request for your addition on Issue #7 , I'll release a new version of the plugin after that is integrated.

[2016-07-18 06:47] mat013 opened #13 "Making the pluing available from gradle plugin repository"
Are there any plans to release this plugin to the gradle repository?

At the moment it seems not to be available from the gradle plugin repository, so we have to build it ourself, and due to the security policy I have to adjust the build files to cater for these restriction, so it would be nice if this was available from the gradle plugin repository, which seems to be whitelisted

[2016-07-18 07:37] mat013 opened #14 "Suggestion: Making the plugin scan for .feature files in java and resource folder instead of only the resource folder"
Currently the .feature files are put in the resource files and the step definition files are added to the java folder.

It seems a little disseparate when they are connected other and I was thinking if it would be better to have them together. I was thinkg about making it possible to have feature files in the java folder.

And then scanning the allSource folder instead of the resource folder when

[2016-07-18 10:10] mat013 opened #15 "Cucumber test with undefined steps are passing"
I have run a cucmber test and I can see that it ran, however some of the step was missing and the build passed. I expected it to fail, and I looked in the feature-out.log(attached some of the log) and I can see that the cucumber test is failing. My expectation was the build should fail as well? or is this intended behaviour?

1 Scenarios ([33m1 undefined[0m)
1 Steps ([33m1 undefined[0m)
0m0.02

[2016-07-18 11:56] mat013 commented on #15
I investigated the issue and the issue is that the plugin is using an old version of masterthought... 0.6.0 and current is 2.5.0.

Maybe it is time to change to a newer version, at the same time it would be nice to also upgrade some of the other tools such as gradle to 2.14 instead of 2.5

I do not know if I will have the time to do so, but what do you guys think?

[2016-07-18 19:07] JayStGelais commented on #15
Whether or not to fail on undefined steps can be controlled with the `isStrict` option. The default is false, but if turned on it will fail for undefined or pending steps.

[2016-07-18 19:08] JayStGelais commented on #15
As far as the upgrades, I can probably give that a try in the next few days. If the upgrades are seamless, I'll include them in the next release.

[2016-07-18 19:09] JayStGelais commented on #13
I can take a look at this in the next few days. I've personally never published a plugin to the repository, so I will have to look into what that process is.

[2016-07-18 19:09] mat013 commented on #15
Ok that is fine as well I have already implemeted the upgrade, so if you
want it I can try to integrate it into as soon as I have the time... (Hint
it is not that seamless :) )

On Mon, Jul 18, 2016 at 9:07 PM JayStGelais <notifications@github.com>
wrote:

[2016-07-18 19:14] JayStGelais commented on #14
By convention, the java folder in a source set should only contain java source files. Other resources the program depends on (such as feature files) should be in the resources folder.

That being said, the plugin should probably be scanning the output dir for the source set in case the need were to ever arise for their to be a processing step, such as token substitution, on the feature files. That

[2016-07-18 19:16] JayStGelais commented on #15
If you have a pull request you can submit with the upgrades it will be reviewed and potentially (very likely) accepted

[2016-07-18 19:20] mat013 opened #16 "Feature request: Adding folder where the .feature file resides automatically"
Hi

This request may seem too specific to how we work at my location, however I am going to give it a go anyway

I am thinking about organizing the test logic so that we only have a single test suite, which are structures as follows:

src/integration/java/feature1
src/integration/java/feature1/steps
src/integration/java/feature1/steps/StepsForFeature1.java
src/integration/java/feature1/somefeature

[2016-07-18 19:30] JayStGelais commented on #16
I'm not sure I understand exactly what you are asking for on this one.

Though its probably worth mentioning that the underlying cucumber framework does not support organizing steps by feature and segregating them for matching. If you really need to separate step definitions, your best bet would be to create multiple isolated test suites.

[2016-07-19 14:31] #13 closed

[2016-07-19 14:32] JayStGelais commented on #13
I've attempted to publish an initial version. It's pending approval by the gradle team.

The build has been updated to include publishing to the plugin portal as part of every future release.

[2016-07-26 20:59] mat013 commented on #16
Well I want certain steps defined for feature1 only be available for somefeature11 and somefeature12 and certain steps defined for feature2 only be available for somefeature21 and somefeature22. As far as I can see when I ran (and that may be coincidental) that if one test define that the stepDefinitionRoots = ['feature1'] then I was able to only make those steps available for somefeature11 and so

[2016-07-26 20:59] mat013 commented on #16
Hope it made it more clearer.

I am able to do what I need through inheritance if #15 is accepted though, so this one may be closed

[2016-07-26 21:09] mat013 opened #18 "Suggestion: When feature file is empty cucumber fails silently"
While trying to write some .feature file I forgot to write something in a .feature file.

To my big surprise the build succeeds eventhough there is something in stderr.

I would like to suggest that the build fails in case that there is something in stderr.

[2016-07-26 21:11] mat013 opened #19 "readme.md files is missing documentation about systemProperties"
it is possible to set the systemProperties as well, which is quite useful when you use spring boot.

I would like to suggest that this is added to the readme.md file

[2016-07-26 21:14] mat013 commented on #14
You are right that strictly speaking .feature should be in resources and it is merely a convenience when using and IDE that .feature files and step files are in the same folder structure

However if #15 is accepted I can work around it by using inheritance, and this one can be closed then

[2016-08-11 04:35] anoopwebs opened #20 "#ThisIsNOTAnIssue# Question - on how to run tests without creating Test suite?"
Hey Jay, I was going through this github repo and trying to implement in my work. As you mentioned in readMe, Cucumber tasks can be configured at two levels, globally for the project and individually for a test suite but I couldn't able to do it in globally. If you don't mind could you please help me out there?

Our Framework is simple enough

Src
- main
-- java
--- pageObjects
- test
--java
--- s

[2016-08-11 13:38] JayStGelais commented on #20
You'll either want to change the package your steps live in or configure the build to look in the package you are using. The default is 'cucumber.steps' (src/test/java/cucumber/steps if your steps live in the test source set). you could configure your build with the following snippet to not have to change where they are located:
`
cucumber {
    stepDefinitionRoots = ['steps']
}
`

Tags can be pas

[2016-08-15 13:14] JayStGelais commented on #20
Closing as this question was addressed.

[2016-08-15 13:14] #20 closed

[2016-08-26 17:49] mhurne opened #21 "Add license and copyright headers to noteworthy files"
Please add license/copyright headers to all noteworthy files in the gradle-cucumber-jvm-plugin repository.

[2016-08-26 17:50] davidmc24 opened #22 "Please provide a GitHub project description"
If desired, it can be derived from the first paragraph or two of the README.  Having a description set helps people recognize the project in GitHub search results.

[2016-08-26 17:51] mhurne opened #23 "Document software dependencies/compatibility"
Please document gradle-cucumber-jvm-plugin's software dependencies/compatibility, especially its Gradle and Cucumber dependencies/compatibility.

[2016-08-26 17:51] davidmc24 opened #24 "Please provide contribution guidelines"
Please create a CONTRIBUTING.md that covers:
- How people are expected to contribute to the project
- The process for building/testing the project

[2016-08-26 17:52] davidmc24 opened #25 "Please document release process"
Please create a file RELEASING.md that describes the process to be followed when producing a release of this project.  This aids current and future project maintainers in following a consistent process.

[2016-09-08 17:11] OttawaIan opened #26 "Display results to the screen and ignoring tags"
Two questions:

How can i see the results of the cucumber tests to the screen when I call "gradle cucumberTest" ?  i.e. if I don't use the plugin I would see:

1 features completed.
    Scenarios [    3 completed,     3 failed]
        Steps [    9 completed,     4 failed,     5 skipped,     0 pending]

I want to give the user an indication of whether or not things worked or not without having to

[2016-09-08 17:18] JayStGelais commented on #26
Can you include what output you do get from the build?

[2016-09-08 17:23] JayStGelais commented on #26
@OttawaIan When I run tests with the plugin I see the output you are asking for. Perhaps you have your build misconfigured and aren't finding any tests. If you can post a public repo that demonstrates the behaviour you are seeing I could take a look.

As for ignoring tags, you could do something like this:
`tags = ['~@WIP']`

[2016-09-08 17:51] davidmc24 commented on #22
Done

[2016-09-08 17:51] #22 closed

[2016-09-08 18:03] OttawaIan commented on #26
You are right on, it wasn't running my tests, and that ignore tags doesn't seem to be working if I had my gradle file with the cucumber task as included below.  It works when I comment out the tags, it didn't work if I specified it as:
tags = ['~@WIP', '@TestOne']

Any ideas ?

Thanks again

cucumberTest {
    stepDefinitionRoots = ['classpath:cucumber/steps']
    //to only run a select number of

[2016-09-08 18:17] JayStGelais commented on #26
@OttawaIan Try taking the 'classpath:' out of your stepDefinitionRoots specification. This plugin is always going to look on the classpath.

[2016-09-08 18:34] OttawaIan commented on #26
I tried that, and still the same problem arises, with the tags.  The not or equal tags neither or them seem to work, i remove it all together and wham things work. I am using 0.7 version of your plugin, with gradle 2.3

I am running ./gradlew clean cucumberTest

cucumberTest {
    stepDefinitionRoots = ['cucumber/steps']
    //to only run a select number of tests
    //tags = ['~@WIP']
    //tags

[2016-09-08 18:40] JayStGelais commented on #26
@OttawaIan I don't think I'm going to figure this out from code snippets in the comments of this issue. Can you put up a public repo that demonstrates the issue. I'll pull it down and take a deeper look.

[2016-09-08 18:42] OttawaIan commented on #26
Sure let me see where I can put this, thanks again for the assistance

[2016-09-08 20:59] OttawaIan commented on #26
First time pushing something up - https://github.com/OttawaIan/GradleCucumberSample/tree/master/cukes-gradle-sample

I run it now, i see no results even without tags being specified but the report (in reports dir) shows all the features being run.  Is there any other debugging I can do to figure out why the tests appear not to be run even though I get a report.  If I have an error in one of my ste

[2016-09-09 15:27] JayStGelais commented on #26
I ran your build locally. The report is being generated and when I uncommented out the tags line (adding ~@WIP) it worked as expected.

I think I understand your concern now. That is that you don't get output to the console when the tests pass. That is expected behaviour. Similar to how the unit test tasks work in gradle. test and failure counts are only outputted to the console if there is at lea

[2016-09-09 15:40] OttawaIan commented on #26
Ah okay thanks for the confirmation on that.  I didn't realize that - is there any way we can override this ? so that we get results if they pass or not.  The only reason I ask, is that this is the same behaviour if the person makes a mistake and we can't find any features to run.  Also I assume if we want to re-run the cucumber task again we should be using the --rerun-tasks on the command line ?

[2016-09-09 17:28] JayStGelais commented on #26
I think it might be a more useful option to have the ability to fail the test run if no features were run. Would that accomplish what you are looking for?

As for the --rerun-tasks flag, that would be necessary if you are running again without changing any source files.

[2016-09-14 19:26] OttawaIan commented on #26
Yes more feedback on some of the error cases would be awesome, or if there were no tests picked.

I noticed the plugin doesn`t seem to work with gradle higher than 2.13. The error message I get appears to say that it got introduced in gradle 2.14.   Have you tried later versions of gradle ?

Thanks again

[2016-09-14 22:41] OttawaIan commented on #26
This is the error we see with gradle version greater than 2.13

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':cucumberTest'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

BUILD FAILED

[2016-09-15 14:21] JayStGelais commented on #26
Thanks for this catch. I will look into this.

[2016-09-16 14:03] OttawaIan commented on #26
Is it possible to pass in parameters to my Java class that implements the Feature.  I noticed that if I added in

systemProperties System.getProperties()

When I add this to the cucumberTask no tests run.  Is there a reason why this wouldn't work, or is there another way to pass parameters into our tests ?  We are looking at passing in the host and port of the running Web Server

[2016-09-16 14:31] JayStGelais commented on #26
The systemProperties attribute on the CucumberTask expects a Map<String, String>. System.getProperties() returns a properties object, which implements Map<Object,Object>, so perhaps there is a class casting issue with that approach.

[2016-09-16 14:42] OttawaIan commented on #26
The stacktrace looks like:

:cucumberTest FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':cucumberTest'.

* Try:
Run with --info or --debug option to get more log output.

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':cucumberTest'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecut

[2016-09-16 15:24] JayStGelais commented on #26
I suspect the error "One or more feature files failed to parse." is unrelated to your attempts to pass system variables to the test. If all your are trying to do is pass a host and port, I would try something that looks like this:
`
testTaskName {
    ... // other configuration
    systemProperties = [
        host: 'http://myhost.com',
        port: '80'
    ]
}
`

* disclaimer: I have not attemp

[2016-11-24 23:58] themathmagician opened #29 "Get an error when trying to run first time in a new project"
Hello
I am working on a project, where I am adding a bdd test suite.
Since the project is a grails project, I wanted to test your gradle-cucumber-jvm-plugin, and we plan to write step definitions in groovy.

My buildfile:
`buildscript {
    repositories {
        maven {
            url "http://repo.bodar.com"
        }
        maven {
          url "https://plugins.gradle.org/m2/"
        }
    }

[2016-11-26 15:59] JayStGelais commented on #29
I believe we have a fix for this queued up for the next release. You can try building a local snapshot from master to get past this issue or wait for the next release sometime in the next week or so.

[2016-11-26 16:13] JayStGelais commented on #26
The issue with ProgressLoggerFactory has been fixed by Pull Request #28 . Scanning through this thread it seems that was the only concrete issue that needed to be fixed.

Closing this issue.

[2016-11-26 16:13] #26 closed

[2016-11-26 16:34] #19 closed

[2016-11-26 16:34] JayStGelais commented on #29
Closing this issue since a fix has been merged.

[2016-11-26 16:34] #29 closed

[2016-11-26 16:37] JayStGelais commented on #16
Closing this since PR #15 was merged.

[2016-11-26 16:38] JayStGelais commented on #14
Closing this issue as the referenced Pull request was merged.

[2016-11-26 16:38] #14 closed

[2016-11-26 16:40] JayStGelais commented on #15
Masterthoughts has been upgraded as discussed in this thread. Closing issue.

[2016-11-26 16:40] #15 closed

[2016-11-26 16:41] #16 closed

[2016-12-07 07:58] Luxor commented on #24
+1

[2017-02-17 09:00] mathume opened #31 "gradle exception"
gradle 2.10
gradle --stacktrace myCucumberSuite

org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':myCucumberSuite'.
...
Caused by: java.lang.NoClassDefFoundError: org/gradle/internal/logging/progress/ProgressLoggerFactory
        at com.commercehub.gradle.cucumber.CucumberTask.runTests(CucumberTask.groovy:35)
        at org.gradle.internal.reflect.JavaMethod.invoke(JavaMeth

[2017-04-07 09:48] acorse opened #32 "[Question] about multiple tags support"
Hello,

I'm trying to setup the use of the plugin and it seems that the multiple tags are not supported.
I have 2 feature files with a tag @login located at feature level and on a specific scenario I have a ~@ignore tag.

Problem, when tests are run (gradlew clean cucumberTest), all tests are run and the scenario that should be ignored is not ignored.

Do you have input on this ? Am I wrong with m

[2017-06-02 04:59] SM-Rahman opened #34 "How to register cucumber plugin (plugin in cucumber options)"
My runCukeTest.java has a plugin configuration in cucumber options. How to configure this custom plugin with gradle?

Configuration in java.

@CucumberOptions (features = "src/cucumberTest/resources/features",
								//tags={"@QE"},
										plugin = {
								                "com.sample.test.commons.clogger.CLoggerPlugin:build/reports/logs/cucumber-execution.log",
								                "json:

[2017-07-13 19:31] fernandotnl commented on #32
I created a PR to fix this: https://github.com/fernandotnl/gradle-cucumber-jvm-plugin/pull/1

[2017-07-20 13:56] sharmasourabh opened #37 ":cucumberTest - Could not start process: Exception"
Using 0.7 version of plugin. On windows 7, I got the following error:

Executing task ':cucumberTest' (up-to-date check took 0.0 secs) due to:
  Task has not declared any outputs.
Could not start process:
java.io.IOException: Cannot run program "c:\jdk8\jre\bin\java": CreateProcess error=206, The filename or extension is too long
        at java.lang.ProcessBuilder.start(ProcessBuilder.java:1048)

[2017-07-21 16:53] JayStGelais commented on #37
@sharmasourabh

My guess is that you are running into a limit on the length of a command line in windows. The classpath for your tests are being written to this command line and is likely the cause. I don't have a clear idea for a fix. You might be able to work around this by trimming your classpath or reducing the average length of the paths to jars by storing them elsewhere.

If you come up with

[2017-07-25 17:27] IvanAtanasov opened #38 "Error when running - StatusLogger"
Hi,

I'm trying out the plugin (version 0.11) and getting this error in the output:

Other than that the cucumber tests are being executed and the build finishes successfully.

Am I supposed to create a log4j config file to specify what output I want. It is not documented anywhere and seems a bit strange that I'd have to do that. It would be nice to see some sort of out put when all tests have pas

[2017-07-25 20:53] RajAsapu commented on #37
@sharmasourabh : Add these flags in your build.gradle file
   reports.junitXml.enabled = false
    reports.html.enabled = false
and give a try . They are used to turn off the report generation as the longer names are not supported.

[2017-07-31 16:56] sharmasourabh commented on #37
Thanks @RajAsapu. I tried it, still facing same issue.

[2017-08-02 15:53] RajAsapu commented on #37
@sharmasourabh do you have those flags in test task
eg:
test {
    reports.junitXml.enabled = false
    reports.html.enabled = false
}

[2017-08-07 14:05] trevorism opened #39 "Configured cucumber suite does not show when executing 'gradle tasks'"
I am on gradle 4.0.1
If I add `addCucumberSuite "acceptance"` to my build file, I can run `gradle acceptance`.

It only shows up in the task list if I run `gradle tasks --all`

You need to put the cucumberSuite task in a group: http://mrhaki.blogspot.com/2010/10/gradle-goodness-group-similar-tasks.html

[2017-08-08 11:18] sharmasourabh commented on #37
I placed these flags in test {} only. Do I need to place in somewhere else?

[2017-08-08 12:57] trevorism commented on #39
You can fix this by configuration
[code]
but there should be a default.

[2017-08-18 15:02] acorse commented on #32
Sounds good, thank you

[2017-08-18 15:02] #32 closed

[2017-08-23 11:50] paragkulkarnisqs opened #40 "Not able to execute feature"
Here is my build.gradle

buildscript {
  repositories {
   flatDir
	{
		dirs "gradle/Jars/Cucumber masterthought"
	}
  }
  dependencies {
    classpath "com.commercehub:gradle-cucumber-jvm-plugin:0.11"
    classpath "net.masterthought:cucumber-reporting:jar:3.2.0"
    classpath "org.codehaus.gpars:gpars:jar:1.2.1"
    classpath "org.codehaus.jsr166-mirror:jsr166y:jar:1.7.0"
    classpath "com.fast

[2017-08-23 13:02] JayStGelais commented on #40
This is a level of support that we do not offer on this project. Additionally it is difficult to determine why your tests aren't executing from just an excerpt from your build script. Directory structures play an important part in finding tests.

Some things to remember when debugging your build:

- The cumber task is setup to find glue code and feature files in a gradle source set. The name of th

[2017-08-23 13:02] #40 closed

[2017-08-25 13:13] RajAsapu commented on #37
@sharmasourabh : No it should be in test. You did it right . What is your task to run the cucumber tests ? Is it cucumberTests . You should place the above tags in which ever task you are running either test or any custom task. that should work, give it a try.

[2017-10-26 14:43] acorse opened #44 "Features contained in recursive folders are not found"
*Context*
My .feature files are organized into multiple folders in order to ease .feature management
com.toto.features
	| folder1
	|	folder1.1
	|		|- f1.feature
	|		|- f2.feature
	|	folder1.2
	|		|- f3.feature
	|		folder1.2.1
	|			||- f4.feature
	|
	| folder2
	|		|- f5.feature
	|		|- f6.feature

featureRoots = ['com/toto/features']

*Seen*
It seems that not all the features files are scanned, some

[2017-10-26 15:30] JayStGelais commented on #44
@acorse Can you provide a git repo that reproduces this behavior and link it.

[2017-10-30 10:14] acorse commented on #44
I  tried to reproduce with a sample project and I couldn't. In my main project I have a lot of feature files (about 100 with an average of 5 scenario in each) in several folders / subfolders and I suspect that the folder scan is not over when tests are launched.

This implies that not all features are discovered and in the \test-results\cucumber\test folder I only have few files.

[2017-10-30 14:03] acorse commented on #44
@JayStGelais I finally managed to reproduce it and you can checkout the project @
 https://github.com/acorse/featuresFoldersBug

Launch gradle task 'test' with VM option: -Dtags="'@todolist'"
It should run all features contained in the folder31todolist folder but only 'wunderlist' and 'google keep' are run.

FYI I use:
ext.cukesVersion = '2.0.1'
ext.seleniumVersion = '3.6.0'

[2017-10-30 14:32] JayStGelais commented on #44
@acorse Can you pair your example down to make it portable on OSes other than windows and without dependencies on software being installed in specific locations. When I run this test suite on my Mac it just fails complete on not being able to find the firefox binary at C:/Program Files (x86)/Mozilla Firefox/firefox.exe

[2017-11-14 16:12] pacan1 opened #46 "record and rerun failed cases"
Hi - is it possible to use gradle config with your plugin to record and rerun failed test cases.
Thanks

[2017-11-14 19:39] JayStGelais commented on #46
This is not a current feature of this plugin.

[2017-11-14 19:39] #46 closed

[2017-11-14 19:53] pacan1 commented on #46
Any plans to implement it?

[2017-11-14 20:01] JayStGelais commented on #46
No. But we are open to pull requests if your interested in adding it.

[2017-12-21 08:10] pinguinkiste opened #47 "Plug-in does not work with the Gradle Kotlin DSL"
When using the Gradle [Kotlin DSL](https://github.com/gradle/kotlin-dsl) the plug-in does not work anymore. The reason seems to be the use of Groovy's `metaClass` to add `addCucumberSuite`. This is not available from the Kotlin DSL.

Since more projects are moving to the Kotlin DSL I hope that this plug-in can either support it or document a way how it can be used with it.

[2017-12-21 13:54] JayStGelais commented on #47
We would be open to accepting a merge request that resolves this conflict with the Kotlin DSL as long as it didn't break existing usages.

[2018-01-08 14:45] #47 closed

[2018-01-09 20:18] andrcuns opened #50 "Support tag expressions"
Since cucumber version 2.0, the old style of providing tags has been deprecated in favour of of [tag-expressions](https://docs.cucumber.io/tag-expressions/)
`Support for '@tag1,@tag2' will be removed from the next release of Cucumber-JVM. Please use '@tag or @tag2' instead`
`Support for '~@tag' will be removed from the next release of Cucumber-JVM. Please use 'not @tag' instead`
To avoid having wa

[2018-01-09 20:58] andrcuns commented on #38
I'm fairly certain that it comes from https://github.com/damianszczepanik/cucumber-reporting I have seen it in various projects where we used this report generation plugin.

[2018-01-10 06:14] andrcuns commented on #50
Actually, never mind. It will work out of the box when tag expression is provided as a single element to `tags` list. Only confusing thing is it still has to be a list. But I guess for backwards compatibility sake, it is not so bad.

[2018-01-12 21:00] JayStGelais commented on #44
Given the lack of a portable reproduction of this issue, I am going to close.

[2018-01-12 21:00] #44 closed

[2018-01-17 12:03] gajo4256 opened #51 "Octane integration"
Hi guys,

in our project we are using your plugin and ti is working wonderfully.
We now have one request and we aren't quite sure how to do it or if it's even possible.
We need to run our tests with Octane, i.e. we need somehow to include OctaneCucumber class which will generate xml reports in the format for the Octane. It works if we include it as a part of the new project without the plugin, e.g

[2018-01-19 14:14] aslakhellesoy opened #52 "Add a changelog"
I find it difficult to see what's changed in each version. Would you consider [keeping a CHANGELOG](http://keepachangelog.com/)?

[2018-01-24 20:34] mikesmithson opened #53 "Integration with Spring-Cucumber"
We have started using Spring-Cucumber in our BDD tests and when we run the bddTest task, everything just hangs. The Spring application is a Boot Run application. We cannot get any further information than what I have provided since there are no errors or exceptions. The machines that are failing are Windows 10 machines. It does integrate with Mac and *nix machines.

[2018-01-28 11:13] andrcuns commented on #34
I think this should be closed as plugin support is added.

[2018-02-12 19:43] pgelinas opened #56 "Retrofit the CucumberTask to implement JavaForkOptions or JavaExec"
The standard way with Gradle to launch a new JVM is through the JavaExec task and it also enables the Jacoco plugin to add coverage to test run with Cucumber. This would obsolete the JavaProcessLauncher in favor of a more standardized API.

[2018-02-13 09:28] aniketksh opened #57 "Plugin not working"
Tried using gradle-cucumber-jvm plugin. Getting following error.

$ gradle cucumberTest
Download https://plugins.gradle.org/m2/com/commercehub/gradle-cucumber-jvm-plugi
n/0.8/gradle-cucumber-jvm-plugin-0.8.pom

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':cucumberTest'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --deb

[2018-02-19 10:13] andrcuns commented on #57
Try latest 0.13 version. It works fine.

[2018-02-22 20:36] JayStGelais commented on #53
Unfortunately, without any further information such as specific error messages, there is not much we can do to help you with this issue.

Closing this issue. Feel free to submit a future issue if you are in a position to provide more details.

[2018-02-22 20:36] #53 closed

[2018-02-22 20:39] JayStGelais commented on #57
Closing issue as this is addressed in a more current version.

[2018-02-22 20:39] #57 closed

[2018-02-23 21:10] mikesmithson opened #58 "Jenkins Failure for version 0.13 - Passed Reports Have No Features!"
I am using version 0.13  and we are getting Jenkins build failures where we are getting the message "Passed Reports Have No Features!" on the console. We have no other information to share other than the json files for the test executions are being in the build/tests/cucumber directory and they look to be valid along with the other error log files, if any. However, our builds are marked as failing

[2018-03-03 01:07] getmetorajesh opened #59 "Running scenarios in parallel"
I see currently the plugin supports running features in parallel but is there a way to run scenarios in parallel.

[2018-03-03 04:45] andrcuns commented on #59
There is not. The plugin creates parallel forks by feature files only. To run parallel scenarios, some parser would have to be created that reads scenarios from feature files.

[2018-03-06 19:26] shweta2202 commented on #59
@getmetorajesh  I maintain this plugin, as I know there is a community out there that finds it useful, but this maintenance has mostly been limited to managing community submitted pull requests. If you can figure out a way to make your use case work and submit a pull request that doesn't break any existing tests I would be thrilled to include it in the plugin and publish a new version.

[2018-03-26 18:01] sreejithp opened #60 "Running java 9 test is failing due to not loading xml.bind module"
Thanks for the plugin!. I love it.

I was running the tests in Java 9 tests and failed because of xml.bind module not being loaded. I know we need to load the modules but was wondering how can I add this java parameter. I can see jvmArgs being added to .14 build. Looks like it is not there in gradle repo yet. Let me know where else i can get this build or can you please update gradle repo to the l

[2018-03-26 21:08] shweta2202 commented on #60
Thanks @sreejithp . I will release the new version this week.

[2018-03-30 17:17] vigneshrr90 commented on #52
We will add the changelog in our newer version @aslakhellesoy

[2018-04-05 21:53] sreejithp commented on #60
Hey @shweta2202, Thanks for the update but when you think we can expect this to come?

[2018-08-01 18:33] SM-Rahman opened #65 "Getting error when configured custom cucumber plugin"
In cucumber junit we configure the custom plugin in RunCukesTest.java in @CucumberOptions
plugin = {"x.y.z.CustomPlugin:custom/folder"},
But when tried to configure in gradle in getting the bellow gradle compilation error
cucumberTest{
--------------///some steps
featureRoots = ['features']
 plugins = ['x.y.z.CustomPlugin:custom/folder']
    junitReport = true
    isStrict = true
//-------- some s

[2018-08-09 16:15] spiffomatic64 opened #66 "Please create a new release"
Would love the ability to take advantage of the jvmargs option added in aed0b6df8e0cfb1649b9c03577f8e4ba7f830706

[2018-08-13 16:11] vpappula commented on #66
+1
I am facing memory issues (heap and OOM) towards the end of execution. I would like to try the jvmArgs option to see if I can overcome the memory issues.

[2018-08-13 16:35] spiffomatic64 commented on #66
It looks like a release WAS made in April, but its not here, just available on the gradle repo (as far as I could see) https://plugins.gradle.org/plugin/com.commercehub.cucumber-jvm

This is working for my needs at least.

[2018-08-13 16:59] vigneshrr90 commented on #66
@spiffomatic64 @vpappula I will get the release out within 2 days , sorry for delay in response.

[2018-09-10 16:16] muhatashim opened #67 "Support for custom cucumber runners"
Instead of statically running `cucumber.api.cli.Main` all the time, the ability to redefine that to use a custom main class would be greatly beneficial for those that want to use a custom resource loader/class loader or Runtime. Currently there is no way of using custom loaders unless we can change the main class.

[2018-12-06 14:53] kmaterka commented on #38
It comes from damianszczepanik/cucumber-reporting. This plugin uses version 3.2.0, issue was fixed in newer versions.

As a workaround you can add:
buildscript {
    dependencies {
        classpath 'net.masterthought:cucumber-reporting:3.20.0'
    }
}

[2018-12-06 17:24] kmaterka opened #68 "Report directories must be initialized before parsing feature result"
After each feature CucumberRunner.groovy parses result using parser from cucumber-reporting project:
 https://github.com/commercehub-oss/gradle-cucumber-jvm-plugin/blob/67f175cb77b07e7227751bc0e38bde7959873a2d/src/main/groovy/com/commercehub/gradle/cucumber/CucumberRunner.groovy#L124

If file contains embedding (for example screenshot) it fails with exception:
[code]

Serializer tries to save file

[2019-03-05 19:57] #7 closed

[2019-03-05 19:57] #8 closed

[2019-03-05 19:57] #18 closed

[2019-03-05 19:57] #21 closed

[2019-03-05 19:57] #23 closed

[2019-03-05 19:57] #24 closed

[2019-03-05 19:57] #25 closed

[2019-03-05 19:57] #31 closed

[2019-03-05 19:57] #34 closed

[2019-03-05 19:57] #37 closed

[2019-03-05 19:57] #38 closed

[2019-03-05 19:57] #39 closed

[2019-03-05 19:57] #50 closed

[2019-03-05 19:57] #51 closed

[2019-03-05 19:57] #52 closed

[2019-03-05 19:57] #56 closed

[2019-03-05 19:57] #58 closed

[2019-03-05 19:57] #59 closed

[2019-03-05 19:57] #60 closed

[2019-03-05 19:57] #65 closed

[2019-03-05 19:57] #66 closed

[2019-03-05 19:57] #67 closed

[2019-03-05 19:58] davidmc24 commented on #68
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:58] davidmc24 commented on #67
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:58] davidmc24 commented on #66
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:58] davidmc24 commented on #65
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #60
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #59
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #58
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #56
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #52
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #51
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #50
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #39
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #38
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #37
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #34
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #31
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #25
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #24
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #23
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 19:59] davidmc24 commented on #21
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 20:00] davidmc24 commented on #18
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.

[2019-03-05 20:00] davidmc24 commented on #8
As this project is now deprecated, CommerceHub will not be contributing further on this ticket.  Please feel free to fork the project and work on it further yourself under the terms of the project license if desired.